.footer {
  background-color: #0f172a;
  color: #cbd5e1;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  margin-top: 2rem;
}

.socials {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.socials span:hover {
  color: #38bdf8;
  cursor: pointer;
}
